.textet{
        font-family: 'Roboto', sans-serif;
       background: gray;
     }
     body {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow-x: scroll; /* прокрутка по горизонтали */
        overflow-y: scroll; /* прокрутка по вертикали */
        word-wrap: break-word; /* Перенос слов */ 
        font: 14px Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
        margin: 0; /* Отступы на странице */
      }
      table {
        
        width: 100%; /* Ширина таблицы */ 
        border-spacing: 20px 20px; /* Расстояние между ячейками */ 
       }
       td {
        background: rgb(133, 108, 156);
        padding: 2px; /* Поля вокруг текста */ 
        border: 3px solid #333; 
       }